@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Grupo Latino Editores

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$green_color: #008f45;
$yellow_color: #d6970b;
$background: #e0e0e0;
$border: #5d5d5d;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}

a {
	color: $green_color;
	&:hover {
		color: $green_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	background-color: $green_color;
	.moduletable_t11 {
		padding: 10px 0;
		color: #fff;
		a {
			color: #fff;
		}
	}
}

.top {
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to3 {
		padding-top: 10px;
		#a {
			.woocommerce-product-search {
				label.screen-reader-text {
					display: none;
				}
				input.search-field {
					margin: 0;
					padding: 5px;
					height: inherit;
					border-radius: 0;
					font-size: 14px;
					line-height: 14px;
				}
				button {
					display: none;
				}
			}
		}
		#b {
			ul.menu {
				li {
					a {
						padding: 5px;
					}
				}
			}
		}
	}
	.moduletable_to4 {
		padding: 10px 0;
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 10px;
						background: {
							image: url(moduletable_to4_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								background-color: $green_color;
								color: #fff;
							}
						}
						a {
							padding: 5px 10px;
							font-size: 16px;
							color: $primary_color;
							text-transform: uppercase;
							&:hover {
								background-color: $green_color;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		padding-bottom: 40px;
		background-color: $background;
	}
}

/* Content */

.content {
	padding: 30px 0;
	h2 {
		padding-bottom: 10px;
		border-bottom: 1px solid $border;
		font-size: 24px;
		color: $green_color;
	}
	strong {
		color: $green_color;
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $green_color;
			border-radius: 0;
		}
	}
	a {
		&.yellow-pay {
			margin: 20px 0;
			padding: 30px 10px;
			background-color: $yellow_color;
			color: #fff;
			text-transform: uppercase;
			display: block;
		}
	}
	.um .um-field-checkbox.active:not(.um-field-radio-state-disabled) i {
		color: $green_color;
	}
	.um input[type=submit].um-button {
		background-color: $green_color;
		border-radius: 0;
	}
	.woocommerce {
		h1.page-title {
			margin-bottom: 20px;
			padding-bottom: 10px;
			border-bottom: 1px solid $border;
			font-size: 24px;
			color: $green_color;
			text-align: center;
		}
		ul.products {
			li {
				margin-bottom: 10px;
				padding: 10px;
				border: 1px solid rgba(128, 128, 128, 0.1);
				a.woocommerce-LoopProduct-link {
					text-align: center;
					display: block;
					img {
						width: auto;
						max-height: 130px;
						margin: {
							left: auto;
							right: auto;
						}
					}
					h2.woocommerce-loop-product__title {
						min-height: 80px;
						border: 0;
						font-size: 12px;
						color: $primary_color;
					}
					span.price {
						font-weight: bold;
					}
				}
				a.product_type_simple {
					background-color: $green_color;
					border-radius: 0;
					color: #fff;
					display: block;
				}
			}
		}
		.product {
			h1.product_title {
				margin-bottom: 10px;
				padding-bottom: 10px;
				font-size: 24px;
				color: $green_color;
			}
			p.price {
				color: $green_color;
			}
			.descripcion_inferior {
				margin-bottom: 20px;
				.box {
					padding: 20px;
					&.grey {
						background-color: $background;
					}
				}
			}
		}
		a,
		button {
			&.button {
				background-color: $green_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $green_color;
				}
			}
		}
		#submit_payu_latam {
			margin: auto;
			padding: 10px 20px;
			background-color: $green_color;
			border: 0;
			border-radius: 0;
			font-size: 16px;
			color: #fff;
			text-transform: uppercase;
			display: block;
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

nav.bellows {
	background-color: transparent !important;
	box-shadow: none !important;
	ul.bellows-nav {
		li.bellows-menu-item {
			a.bellows-target {
				padding: 10px;
				color: $primary_color;
				span.bellows-subtoggle {
					width: 30px;
					background-color: transparent !important;
				}
				&:hover {
					background-color: transparent !important;
					color: $green_color;
				}
			}
			ul.bellows-submenu {
				background-color: transparent !important;
			}
		}
	}
}

.bellows-target {
	background-color: transparent !important;
}

/* Block 1 */

.block_1 {
	margin-top: -100px;
	position: relative;
	z-index: 1;
	.moduletable_b11 {
		text-align: center;
		a {
			margin: 0 10px;
			display: inline-block;
			&.green,
			&.yellow {
				margin: 20px 0;
				padding: 30px 10px;
				color: #fff;
				text-transform: uppercase;
				display: block;
			}
			&.green {
				background-color: $green_color;
			}
			&.yellow {
				background-color: $yellow_color;
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h3 {
			margin: auto;
			padding-bottom: 10px;
			border-bottom: 1px solid #999999;
			font: {
				size: 24px;
				weight: bold;
			}
		}
		.owl-item {
			figure {
				a.wpb_pro_img_url {
					padding: 10px;
					text-align: center;
				}
				figcaption {
					background-color: transparent;
					border-top: 1px solid #999999;
					h3.pro_title {
						border: none;
						font-size: 16px;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b31 {
		h3 {
			margin: auto;
			padding-bottom: 10px;
			border-bottom: 1px solid #999999;
			font: {
				size: 24px;
				weight: bold;
			}
		}
		a {
			font-size: 16px;
			color: $primary_color;
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 50px 0;
	background: {
		image: url(block_4_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b41 {
		h3 {
			margin: auto;
			padding-bottom: 10px;
			border-bottom: 1px solid #fff;
			font: {
				size: 24px;
				weight: bold;
			}
			color: #fff;
		}
		a {
			font: {
				size: 16px;
				weight: bold;
			}
			color: #fff;
			text-transform: uppercase;
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background-color: $background;
	.moduletable_bo1 {
		.so-panel {
			margin-bottom: 10px !important;
		}
		#a {}
		#b {
			padding: 0 50px;
			border: {
				left: 1px solid $border;
				right: 1px solid $border;
			}
			h3 {
				font-size: 16px;
				color: $green_color;
			}
			ul {
				li {
					a {
						font-size: 16px;
						color: $primary_color;
					}
				}
			}
		}
		#c {
			.tnp-widget {
				.tnp-field {
					margin: 0;
				}
				.tnp-field-email {
					width: 70%;
					float: left;
					position: relative;
					label {
						display: none;
					}
					input.tnp-email {
						margin: 0;
					}
				}
				.tnp-field-button {
					width: 30%;
					float: left;
					position: relative;
					input.tnp-submit {
						margin: 0;
						background-color: $green_color;
						border: 0;
						border-radius: 0;
					}
				}
			}
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $green_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}